workflow.json
{
  "id": "g7oQLO7sJpaDohH9",
  "name": "Manulift AI Lead Qualification Demo v2",
  "description": null,
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "587f526d-f85b-45a3-8d1e-5209d9e280d9",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2064,
        360
      ]
    },
    {
      "parameters": {
        "path": "manulift-demo",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "02fae54c-acb6-44ab-b929-743357ce5259",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2064,
        552
      ],
      "webhookId": "manulift-demo-v2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CXHKn6J03zSoh4jOiw43mSWcHYTa0uzLr8yUJstszmk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Qualified Leads",
          "mode": "name"
        },
        "options": {}
      },
      "id": "76263022-9e62-481c-91e8-682dee742bf3",
      "name": "Read Qualified Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1840,
        456
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5ThX9Aq0gGy52QpG",
          "name": "General Test Account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "id": "36eab1b8-d04f-4246-8562-921a8199aec0",
      "name": "Limit to 10",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1392,
        456
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "672fbe16-9d15-49f9-a9da-fcdacfe106e9",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1168,
        464
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this FB Marketplace listing and return the result as JSON.\nIMPORTANT: Include the description, fb_seller_type, and seller_name EXACTLY as provided in your output JSON.\n\ntitle: {{ $json['Listing Title'] }}\nprice: {{ $json['Price'] }}\nlocation: {{ $json['Location'] || '' }}\nequipment_type: {{ $json['Equipment Type'] || '' }}\nbrand: {{ $json['Brand'] || '' }}\ndescription: {{ $json['Description'] || 'NO DESCRIPTION' }}\n\nIMAGE ANALYSIS (what the listing photos show):\n{{ $json['Image Analysis'] || 'No image analysis available' }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a lead qualification assistant for Manulift, a Canadian heavy equipment dealer selling telehandlers, boom lifts, scissor lifts, and manlifts.\n\nIMPORTANT: Price alone does NOT indicate dealer vs private. Heavy equipment costs $15K-$150K+ regardless of seller type.\n\nFor each listing, classify based on title, description, fb_seller_type, AND image analysis.\n\nDEALER (we do NOT want these \u2014 they're competitors):\n- Financing language: \"lease\", \"finance\", \"$0 down\", \"OAC\", \"payments as low as\"\n- Marketing speak: bullet-pointed features, promotional formatting\n- Multiple inventory hints: \"other equipment available\", \"multiple units\", \"also in stock\"\n- Brand new with warranty packages: \"BRAND NEW\" + warranty + multiple units\n- Professional formatting with asterisks, dots as spacers\n\nRENTAL (we do NOT want \u2014 rental companies, not buyers):\n- Rate language: \"daily rates\", \"weekly rates\", \"monthly rates\", \"hourly\"\n- Fleet indicators: multiple equipment types listed, 1-800 numbers\n\nPRIVATE_SELLER (we WANT these \u2014 potential Manulift customers):\n- Personal ownership language: \"my\", \"I bought\", \"selling because\", \"don't need\"\n- Specific usage history: exact hours, maintenance done by owner\n- Single item, no other inventory mentioned\n- Honest condition notes: mentions wear, issues, things that need fixing\n\nUNCERTAIN (needs manual review):\n- No description available or short description with no clear signals\n\nDISQUALIFY:\n- Parts/accessories under $500\n- Not heavy equipment\n\nIMAGE ANALYSIS GUIDELINES:\nUse the image analysis results as additional context for your classification.\n- Multiple machines visible on an organized lot = strong dealer signal\n- Business signage, logos, or watermarks in photos = strong dealer signal\n- Single machine at a residential/farm/jobsite with casual photos = supports PRIVATE_SELLER\n- Professional/staged photography with clean backgrounds = leans DEALER\n- When text and images conflict, weight images heavily (a dealer can write casual text, but photos reveal the truth)\n- If no images are available, rely on text signals alone\n\nReturn JSON with: seller_type (PRIVATE_SELLER|DEALER|RENTAL|UNCERTAIN|DISQUALIFY), reason (brief explanation), image_summary (summarize what the listing images show, or 'No images analyzed' if unavailable)",
          "maxIterations": 1,
          "returnIntermediateSteps": false
        }
      },
      "id": "418701af-e624-4528-a675-a6e0d5d793b3",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        848,
        384
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.1
        }
      },
      "id": "2eb62a8d-538c-437a-9114-d7a6dd94449c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        856,
        608
      ],
      "credentials": {
        "openAiApi": {
          "id": "SkjoKB33iQQV1xYW",
          "name": "Instagram Chatbot"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"seller_type\":\"DEALER\",\n  \"reason\":\"Contains dealer language\",\n  \"image_summary\":\"Single machine on a dealer lot with professional photos\"\n}"
      },
      "id": "ffe89856-d87c-4df5-9b75-8fb01d172c49",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        984,
        608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "url",
              "name": "Listing URL",
              "value": "={{ $('Split In Batches').item.json['Listing URL'] }}",
              "type": "string"
            },
            {
              "id": "title",
              "name": "Listing Title",
              "value": "={{ $('Split In Batches').item.json['Listing Title'] }}",
              "type": "string"
            },
            {
              "id": "price",
              "name": "Price",
              "value": "={{ $('Split In Batches').item.json['Price'] }}",
              "type": "string"
            },
            {
              "id": "loc",
              "name": "Location",
              "value": "={{ $('Split In Batches').item.json['Location'] }}",
              "type": "string"
            },
            {
              "id": "equip",
              "name": "Equipment Type",
              "value": "={{ $('Split In Batches').item.json['Equipment Type'] }}",
              "type": "string"
            },
            {
              "id": "brand",
              "name": "Brand",
              "value": "={{ $('Split In Batches').item.json['Brand'] }}",
              "type": "string"
            },
            {
              "id": "desc",
              "name": "Description",
              "value": "={{ $json.Description || $('Extract Description').item.json.Description || '' }}",
              "type": "string"
            },
            {
              "id": "st",
              "name": "AI Seller Type",
              "value": "={{ $json.output.seller_type }}",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "AI Reason",
              "value": "={{ $json.output.reason }}",
              "type": "string"
            },
            {
              "id": "imgSummary",
              "name": "Image Summary",
              "value": "={{ $json.output.image_summary || '' }}",
              "type": "string"
            },
            {
              "id": "images",
              "name": "Images",
              "value": "={{ $('Extract Description').item.json.Images || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9bd01510-ce6f-4d19-a328-0dd480eb6c8b",
      "name": "Merge AI Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        384
      ]
    },
    {
      "parameters": {},
      "id": "4c5db80c-fbba-4c46-933a-f54f1ad067d1",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1648,
        552
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "url",
              "name": "Listing URL",
              "value": "={{ $('Split In Batches').item.json['Listing URL'] }}",
              "type": "string"
            },
            {
              "id": "title",
              "name": "Listing Title",
              "value": "={{ $json.marketplace_listing_title || $json.custom_title_with_labels_and_formatted_price || $('Split In Batches').item.json['Listing Title'] }}",
              "type": "string"
            },
            {
              "id": "price",
              "name": "Price",
              "value": "={{ ($json.listing_price && $json.listing_price.formatted_amount) || $('Split In Batches').item.json['Price'] }}",
              "type": "string"
            },
            {
              "id": "loc",
              "name": "Location",
              "value": "={{ ($json.location && $json.location.reverse_geocode && ($json.location.reverse_geocode.city || $json.location.reverse_geocode.state)) || $('Split In Batches').item.json['Location'] }}",
              "type": "string"
            },
            {
              "id": "equip",
              "name": "Equipment Type",
              "value": "={{ $('Split In Batches').item.json['Equipment Type'] }}",
              "type": "string"
            },
            {
              "id": "brand",
              "name": "Brand",
              "value": "={{ $('Split In Batches').item.json['Brand'] }}",
              "type": "string"
            },
            {
              "id": "desc",
              "name": "Description",
              "value": "={{ $json.description.text|| 'No description available' }}",
              "type": "string"
            },
            {
              "id": "img1",
              "name": "Images",
              "value": "={{ $jmespath($json.listingPhotos, '[*].image.uri') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "5940278d-2d1c-41f9-bc2c-d85e717379f9",
      "name": "Extract Description",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        236
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "no_ai",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json['AI Seller Type'] }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1e483a2-719b-4b7d-b23c-959f4e3e1f76",
      "name": "Not Yet Classified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1616,
        456
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1CXHKn6J03zSoh4jOiw43mSWcHYTa0uzLr8yUJstszmk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Qualified Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Description": "={{ $json.Description }}",
            "AI Seller Type": "={{ $json['AI Seller Type'] }}",
            "AI Reason": "={{ $json['AI Reason'] }}",
            "Listing URL": "={{ $json[\"Listing URL\"] }}",
            "Listing Title": "={{ $json[\"Listing Title\"] }}",
            "Price": "={{ $json.Price }}",
            "Location": "={{ $json.Location }}",
            "Equipment Type": "={{ $json[\"Equipment Type\"] }}",
            "Brand": "={{ $json.Brand }}",
            "Image URLs": "={{ $json[\"Images\"] }}",
            "Image Summary": "={{ $json['Image Summary'] }}"
          },
          "matchingColumns": [
            "Listing URL"
          ],
          "schema": [
            {
              "id": "Contacted",
              "displayName": "Contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Seller Type",
              "displayName": "AI Seller Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Reason",
              "displayName": "AI Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Listing URL",
              "displayName": "Listing URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Listing Title",
              "displayName": "Listing Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Equipment Type",
              "displayName": "Equipment Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Brand",
              "displayName": "Brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URLs",
              "displayName": "Image URLs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "59c4c4de-c7fc-4cdb-a5d6-650e0940d1b0",
      "name": "Update Qualified Leads Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1424,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5ThX9Aq0gGy52QpG",
          "name": "General Test Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~facebook-marketplace-scraper/runs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "waitForFinish",
              "value": "60"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "startUrls",
              "value": "={{ [{ url: $json[\"Listing URL\"] }] }}"
            },
            {
              "name": "resultsLimit",
              "value": "={{1}}"
            },
            {
              "name": "includeListingDetails",
              "value": "={{true}}"
            }
          ]
        },
        "options": {
          "timeout": 90000
        }
      },
      "id": "072aee72-527f-494a-a1e1-55677d49060f",
      "name": "Run FB Details Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        332
      ],
      "credentials": {
        "apifyApi": {
          "id": "HfMql8TK1j73xKhH",
          "name": "Apify"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items?token={{ $credentials.apifyApi.token }}",
        "options": {}
      },
      "id": "8a836da9-563b-4644-98d1-212bef2ccc8a",
      "name": "Get Enrichment Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        332
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "241b797b-e3b2-4074-8a74-f14e793bb600",
      "name": "Has Apify Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -496,
        332
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "title",
              "name": "Listing Title",
              "value": "={{ $('Split In Batches').item.json['Listing Title'] }}",
              "type": "string"
            },
            {
              "id": "price",
              "name": "Price",
              "value": "={{ $('Split In Batches').item.json['Price'] }}",
              "type": "string"
            },
            {
              "id": "loc",
              "name": "Location",
              "value": "={{ $('Split In Batches').item.json['Location'] || '' }}",
              "type": "string"
            },
            {
              "id": "et",
              "name": "Equipment Type",
              "value": "={{ $('Split In Batches').item.json['Equipment Type'] || '' }}",
              "type": "string"
            },
            {
              "id": "br",
              "name": "Brand",
              "value": "={{ $('Split In Batches').item.json['Brand'] || '' }}",
              "type": "string"
            },
            {
              "id": "desc",
              "name": "Description",
              "value": "N/A - Listing no longer available on Facebook Marketplace",
              "type": "string"
            },
            {
              "id": "fbtype",
              "name": "FB Seller Type",
              "value": "unknown",
              "type": "string"
            },
            {
              "id": "seller",
              "name": "Seller Name",
              "value": "unknown",
              "type": "string"
            },
            {
              "id": "images",
              "name": "Image URLs",
              "value": "",
              "type": "string"
            },
            {
              "id": "imgAnalysis",
              "name": "Image Analysis",
              "value": "{\"equipment_count\":\"unknown\",\"setting\":\"unknown\",\"photo_style\":\"unknown\",\"dealer_signals\":[],\"private_signals\":[],\"image_summary\":\"Listing no longer available - no images to analyze\"}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f7f760fe-c590-47b4-b8be-56f2dc1074a1",
      "name": "No Apify Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_images",
              "leftValue": "={{ ($json.Images || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b699351d-c399-414f-97f7-6e55599c0b21",
      "name": "Has Images?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        236
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "title",
              "name": "Listing Title",
              "value": "={{ $('Extract Description').item.json['Listing Title'] }}",
              "type": "string"
            },
            {
              "id": "price",
              "name": "Price",
              "value": "={{ $('Extract Description').item.json['Price'] }}",
              "type": "string"
            },
            {
              "id": "loc",
              "name": "Location",
              "value": "={{ $('Extract Description').item.json['Location'] }}",
              "type": "string"
            },
            {
              "id": "equip",
              "name": "Equipment Type",
              "value": "={{ $('Extract Description').item.json['Equipment Type'] }}",
              "type": "string"
            },
            {
              "id": "brand",
              "name": "Brand",
              "value": "={{ $('Extract Description').item.json['Brand'] }}",
              "type": "string"
            },
            {
              "id": "desc",
              "name": "Description",
              "value": "={{ $('Extract Description').item.json['Description'] }}",
              "type": "string"
            },
            {
              "id": "images",
              "name": "Images",
              "value": "={{ $('Extract Description').item.json['Images'] }}",
              "type": "string"
            },
            {
              "id": "imgAnalysis",
              "name": "Image Analysis",
              "value": "={{ $json.choices ? $json.choices[0].message.content : ($('Analyze Listing Images (Code)').first().json.imageAnalysis || 'No image analysis available') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3ff0f550-58d2-4a4b-893d-b9e6a6c1bf7c",
      "name": "Format Image Analysis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "title",
              "name": "Listing Title",
              "value": "={{ $json['Listing Title'] }}",
              "type": "string"
            },
            {
              "id": "price",
              "name": "Price",
              "value": "={{ $json['Price'] }}",
              "type": "string"
            },
            {
              "id": "loc",
              "name": "Location",
              "value": "={{ $json['Location'] }}",
              "type": "string"
            },
            {
              "id": "equip",
              "name": "Equipment Type",
              "value": "={{ $json['Equipment Type'] }}",
              "type": "string"
            },
            {
              "id": "brand",
              "name": "Brand",
              "value": "={{ $json['Brand'] }}",
              "type": "string"
            },
            {
              "id": "desc",
              "name": "Description",
              "value": "={{ $json['Description'] }}",
              "type": "string"
            },
            {
              "id": "images",
              "name": "Images",
              "value": "={{ $json['Images'] }}",
              "type": "string"
            },
            {
              "id": "imgAnalysis",
              "name": "Image Analysis",
              "value": "{\"equipment_count\":\"unknown\",\"setting\":\"unknown\",\"photo_style\":\"unknown\",\"dealer_signals\":[],\"private_signals\":[],\"image_summary\":\"No listing images available for analysis\"}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cf5004f9-4efd-4cfa-8775-7cd2d9c9bc9b",
      "name": "Default Image Analysis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const images = ($input.first().json.Images || []).slice(0, 3);\nconst debugInfo = [];\n\nif (images.length === 0) {\n  return [{ json: { imageAnalysis: '{\"equipment_count\":\"unknown\",\"setting\":\"unknown\",\"photo_style\":\"unknown\",\"dealer_signals\":[],\"private_signals\":[],\"image_summary\":\"No listing images available for analysis\"}', skipHttp: true } }];\n}\n\nconst content = [\n  {\n    type: 'text',\n    text: 'Analyze these Facebook Marketplace equipment listing photos. Describe what you see to help determine the seller type. Evaluate: 1) EQUIPMENT COUNT - How many pieces of heavy equipment visible? (single, few 2-3, many 4+). 2) SETTING - Where is the equipment? (residential driveway, farm, active jobsite, dealership lot, warehouse, showroom, unknown). 3) PHOTO STYLE - How were photos taken? (casual phone photo, semi-professional, professional/staged). 4) DEALER SIGNALS - Note any present: business signage, company logos, watermarks, price stickers, organized inventory rows, branded backgrounds, company trucks/trailers, multiple different machine types. 5) PRIVATE SELLER SIGNALS - Note any present: home driveway/yard, single machine in grass/dirt, personal property visible, construction site with one machine in use, casual/messy background. Return JSON with keys: equipment_count (single/few/many), setting (residential/farm/jobsite/dealer_lot/warehouse/showroom/unknown), photo_style (casual/semi_professional/professional), dealer_signals (array), private_signals (array), image_summary (2-3 sentence description).'\n  }\n];\n\nlet downloadedCount = 0;\nfor (const url of images) {\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: url,\n      encoding: 'arraybuffer',\n      returnFullResponse: true\n    });\n    const base64 = Buffer.from(resp.body).toString('base64');\n    content.push({\n      type: 'image_url',\n      image_url: { url: 'data:image/jpeg;base64,' + base64, detail: 'low' }\n    });\n    downloadedCount++;\n    debugInfo.push({ status: 'ok', size: base64.length });\n  } catch (e1) {\n    debugInfo.push({ helper_error: e1.message });\n    try {\n      const resp2 = await fetch(url);\n      if (!resp2.ok) {\n        debugInfo.push({ fetch_status: resp2.status });\n        continue;\n      }\n      const buf = await resp2.arrayBuffer();\n      const base64 = Buffer.from(buf).toString('base64');\n      content.push({\n        type: 'image_url',\n        image_url: { url: 'data:image/jpeg;base64,' + base64, detail: 'low' }\n      });\n      downloadedCount++;\n      debugInfo.push({ fetch: 'ok', size: base64.length });\n    } catch (e2) {\n      debugInfo.push({ fetch_error: e2.message });\n    }\n  }\n}\n\nif (downloadedCount === 0) {\n  return [{ json: { imageAnalysis: JSON.stringify({equipment_count:'unknown',setting:'unknown',photo_style:'unknown',dealer_signals:[],private_signals:[],image_summary:'Could not download listing images for analysis'}), skipHttp: true, debug: debugInfo } }];\n}\n\nconst requestBody = {\n  model: 'gpt-4o-mini',\n  messages: [\n    { role: 'system', content: 'You analyze equipment listing photos and return structured JSON only. No markdown.' },\n    { role: 'user', content: content }\n  ],\n  max_tokens: 500,\n  temperature: 0.1,\n  response_format: { type: 'json_object' }\n};\n\nreturn [{ json: { requestBody: requestBody, skipHttp: false, debug: debugInfo } }];"
      },
      "id": "7c4f7353-c659-402e-ade0-b916355f4ac4",
      "name": "Analyze Listing Images (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-vision-http-node",
      "name": "Call OpenAI Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        192
      ],
      "credentials": {
        "openAiApi": {
          "id": "SkjoKB33iQQV1xYW",
          "name": "Instagram Chatbot"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Qualified Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Qualified Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Qualified Leads": {
      "main": [
        [
          {
            "node": "Not Yet Classified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 10": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Run FB Details Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge AI Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge AI Result": {
      "main": [
        [
          {
            "node": "Update Qualified Leads Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Yet Classified?": {
      "main": [
        [
          {
            "node": "Limit to 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Qualified Leads Row": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run FB Details Scraper": {
      "main": [
        [
          {
            "node": "Get Enrichment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Enrichment Data": {
      "main": [
        [
          {
            "node": "Has Apify Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Apify Data?": {
      "main": [
        [
          {
            "node": "Extract Description",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Apify Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Apify Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract Description": {
      "main": [
        [
          {
            "node": "Has Images?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Images?": {
      "main": [
        [
          {
            "node": "Analyze Listing Images (Code)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Default Image Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Listing Images (Code)": {
      "main": [
        [
          {
            "node": "Call OpenAI Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI Vision": {
      "main": [
        [
          {
            "node": "Format Image Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Image Analysis": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Image Analysis": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "global": {
      "rejectedLeads": [],
      "qualifiedLeads": []
    }
  },
  "pinData": {}
}